.comments {
    @extend %clearfix;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ol {
        margin: 0 0 $spacing;
        padding: 0;
        list-style: none;
        border-bottom: none;
    }
    li {
        margin: 0 0 $spacing;
        padding-top: $spacing;
        border: none;
        li {
            padding-top: 0;
        }
    }
    .children {

        @include breakpoint(medium) {
              border-left: 5px solid $background-secondary;
        }
    }
    .children .children {
        border: none;
        padding: 0;
    }
}
.comment {
}
.bypostauthor {
 }
.avatar {
    float: left;
    margin: 0 $spacing/2 $spacing/2 0;
    border: 5px solid $background-secondary;
}
.comment-author {
    font-weight: bold;
}
.comment-meta {
    @include breakpoint(medium) {
        font-size: 90%;
    }
}
.comment-content {
    clear: both;

    @include breakpoint(medium) {
        font-size: 90%;
    }
    a {
        border-bottom: 1px dotted $accent-color;
    }
}
.comment-reply-link {
    padding: 0 0 $spacing/2;
    text-align: right;
    a {
        padding: .5em;
        font-size: 80%;
    }
}
.comment-respond {
    @extend %clearfix;
}
.pings {
    margin-bottom: $spacing;
    .comment-author {
        font-size: 90%;
        font-weight: normal;
    }
    .comment-content {
        @extend %visuallyhidden;
    }
}
.comment-reply-title {
    position: relative;
}
[id="cancel-comment-reply-link"] {
    font-weight: normal;
    display:block;
}
.form-section {
    input {
        width: 100%;
        margin: 0 0 $spacing;
    }
    textarea {
        width: 100%;
    }
}
[id="form-allowed-tags"] {
    display:none;
}
.form-submit {
    padding: $spacing 0 0;
    text-align: right;
}