.comments {
    @extend %clearfix;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ol {
        padding: 0;
        list-style: none;
    }
    li {
        margin: 0 0 $spacing;
        padding-top: $spacing;
        border: none;
        li {
            padding-top: 0;
        }
    }
    .children {

        @include breakpoint(medium) {
            padding-left: $spacing;
            border-left: 5px solid $base-color-secondary;
        }
    }
    .children .children {
        border: none;
        padding: 0;
    }
}
.comment-notes {
    @extend %visuallyhidden;
}
.comment {
    .url {
        color: $body-color;
    }
}
.bypostauthor {
 }
.avatar {
    float: left;
    margin: 0 $spacing-alpha $spacing-beta 0;
    border: 5px solid $base-color-secondary;
}
.comment-author {
    font-weight: bold;
}
.comment-meta {
        font-size: 90%;
}
.comment-content {
    clear: both;

    @include breakpoint(medium) {
        font-size: 90%;
    }
    a {
        border-bottom: thin dotted $accent-color;
    }
}
.comment-replylink,  // wtf is up with this, keep getting both classes, need to look into this
.comment-reply-link {
    padding: 0 0 $spacing/2;
    text-align: right;
    a {
        padding: $spacing-alpha;
        font-size: 80%;
    }
}
.comment-respond {
    @extend %clearfix;
}
.pings {
    margin-bottom: $spacing;
    .comment-author {
        font-size: 80%;
        font-weight: normal;
    }
    .comment-content {
        @extend %visuallyhidden;
    }
}
.comment-reply-title {
    position: relative;
}
[id="cancel-comment-reply-link"] {
    float: right;
    font-weight: normal;
}
.form-section {
    input {
        width: 100%;
        margin: 0 0 $spacing;
    }
    textarea {
        width: 100%;
    }
}
[id="form-allowed-tags"] {
    display:none;
}
.form-submit {
    padding: $spacing 0 0;
    text-align: right;
}