// custom fonts & icon fonts
// ==========================================================================

@font-face {
    font-family: 'entypo';
    src:url('fonts/entypo.eot');
    src:url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
        url('fonts/entypo.woff') format('woff'),
        url('fonts/entypo.ttf') format('truetype'),
        url('fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-twitter:before,
.icon-github:before,
.icon-rss:before,
.icon-pencil:before,
.icon-tag:before,
.icon-calendar:before,
.icon-arrow-right:before,
.icon-arrow-left:before,
// .icon-arrow-left-2:before, // currently unused but is loading in the custom entypo font file
// .icon-arrow-right-2:before,
// .icon-arrow-left-3:before,
// .icon-untitled:before,
.icon-folder:before,
.icon-comment:before,
.icon-mail:before {
    font-family: 'entypo';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-twitter:before {
    content: "\e000";
}
.icon-github:before {
    content: "\e001";
}
.icon-rss:before {
    content: "\e002";
}
.icon-pencil:before {
    content: "\e003";
}
.icon-tag:before {
    content: "\e004";
}
.icon-calendar:before {
    content: "\e005";
}
.icon-arrow-right:before {
    content: "\e006";
}
.icon-arrow-left:before {
    content: "\e007";
}
// .icon-arrow-left-2:before {
//     content: "\e008";
// }
// .icon-arrow-right-2:before {
//     content: "\e009";
// }
// .icon-arrow-left-3:before {
//     content: "\e00a";
// }
// .icon-untitled:before {
//     content: "\e00b";
// }
.icon-folder:before {
    content: "\e00c";
}
.icon-comment:before {
    content: "\e00d";
}
.icon-mail:before {
    content: "\e00e";
}