// elements not defined in IE (8,9)
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
    vertical-align: baseline;
}

// less than IE 9 (IE 8)
// makes site a little more usable for IE8, even though I am not supporting it
.lt-ie9 {
    .site-wrapper {
        width: 640px;
        padding-left: 20px;
        padding-right: 20px;
    }
}