
// elements not defined in IE (8,9)
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}

// less than IE 9 (6,7,8)
.lt-ie9 {
    [id="wrapper"] {
        width: 640px;
        padding-left: 20px;
        padding-right: 20px;
    }
    [id="access"] {
        background-color: transparent;
    }
}

// less than IE 8 (6,7)
.lt-ie8 {
    .menu-title {
        float: left;
    }
    .menu-button {
        padding-bottom: 1em;
    }
    .access-nav ul {
        list-style-type: none;
        // fix for IE7 bug that causes gaps on list items
        li a {
            display: inline-block;
            width: 80%;
        }
    }
}