// Brad Frost Mobile Patterns - Skip Nav (nimus dropdwons)
// http://codepen.io/bradfrost/pen/vljdx
.menu-toggle {
    position: relative;
    float: right;
    padding: $spacing-alpha $spacing-delta $spacing-alpha $spacing-alpha;
    &:before,
    &:after {
        content: "";
        box-sizing: content-box;
        overflow: hidden;
        position: absolute;
        top: .5em;
        right: .4em;
        width: 1.1em;
        height: 1.2em;
        margin-top: $spacing-alpha/1.9;
        box-shadow:
            inset 0 3px $accent-color,
            inset 0 7px $body-background,
            inset 0 10px $accent-color,
            inset 0 14px $body-background,
            inset 0 17px $accent-color;
        transition: all 1s ease-in-out;
    }
}
.toggled {
    &:before,
    &:after {
        top: .85em;
        right: .6em;
        width: .8em;
        height: .5em;
        box-shadow: inset 0 3px $accent-color;
        transform: rotate(360deg);
    }
    &:after {
        transform: rotate(-360deg);
    }
}
.menu {
    clear: both;
    transition: all 1s ease-in-out;
    .js & {
        overflow: hidden;
        max-height: 0;
    }
    &.active {
        max-height: 55em;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li {
        margin-bottom: 1px;
    }
    a {
        display: block;
        padding: $spacing-alpha;
        position: relative;
        background-color: $base-color-secondary;
        &:hover {
            background-color: $base-color-accent;
        }
    }
}
@include breakpoint(large) {
    .menu-toggle {
       display: none;
    }
    .js .menu {
        overflow: hidden;
        max-height: none;
    }
}