// contact form 7 styling
.wpcf7 {
	[role="alert"] {
		display: block;
		margin-top: -$spacing-beta;
		margin-bottom: $spacing;
		padding: $spacing-beta;
		border: 1px solid $accent-color;
		color: $accent-color-accent;
	}
	.ajax-loader {
		display: none;
	}
	.screen-reader-response {
		@extend %visuallyhidden;
	}
	.wpcf7-response-output {
		margin: $spacing 0;
	}
}

// jetpack subscribe to comments CSS

.comment-subscription-form {
	margin: 0;
	font-size: 90%;
}